<input type="text" [(ngModel)]="searched" (keyup)="search()">
  <table>
    <thead>
      <tr>
        <th>Civility</th>
        <th>firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of consumersObs | async">
        <td>{{item.civility}}</td>
        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone | phone}}</td>
        <button> createAt</button>
        <button> updateAt</button>

      </tr>
    
    </tbody>
</table>

