<input type="text" [(ngModel)]="searched" (keyup)="search()">

<span>
    <a mat-icon-button
           routerLink="/consumer/new" >
        <mat-icon>person_add</mat-icon>
    </a>
</span>

  <table>
    <thead>
      <tr>
        <th>Civility</th>
        <th>firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consumer of consumersObs | async">
        <td>{{consumer.civility}}</td>
        <td>{{consumer.firstname}}</td>
        <td>{{consumer.lastname}}</td>
        <td>{{consumer.email}}</td>
        <td>{{consumer.phone | phone}}</td>
       
        <span>
            <a mat-icon-button
                   [routerLink]="['/consumer', consumer.id ] ">
                <mat-icon>edit</mat-icon>
            </a>
        </span>
         
        <span>
            <a mat-icon-button
                  (click)="deleteConsumer(consumer.id)">
                <mat-icon>delete</mat-icon>
            </a>
        </span>

      </tr>
    
    </tbody>
</table>

